@font-face {
  font-family: "iconfont"; /* Project id 4109370 */
  src: url('iconfont.woff2?t=1686124962217') format('woff2'),
       url('iconfont.woff?t=1686124962217') format('woff'),
       url('iconfont.ttf?t=1686124962217') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before {
  content: "\e600";
}

